/**
 * designing structure for page content
 * built (with love) using Bootstrap
 */


body {
  padding-top: 55px;
  background-color:#F2F2EB;
  font-size: 16px;
  line-height: 26px;
  font-family: Georgia;
  padding-left: 15px;
}

#navigation {
  display: block;
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 65px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px #2d2d2d;
  background: rgba(250,250,250,0.9);
  border-top: 1px solid #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
}
#navigation .navlinks {
  list-style: none;
  float: right;
}
#navigation .navlinks li {
  display: inline-block;
  margin-right: 5px;
}
#navigation .navlinks li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 55px;
  font-weight: bold;
  color: #FFOAOO;
  font-size: 17px;

}
#navigation .navlinks li a:hover {
  text-decoration: none;
  color: #444;
  background: #fcfcfc;
}

.btn {
  background: #FFF; 
  color: #051657;
  display: inline-block;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none; 
}

.btn:hover{
     background: #FF8300;
}

#heading {
  display: block;
  width: 100%;
  height: 210px;
  padding: 20px 0;
  background: url('../images/indigo.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 -4px 9px -3px #000;
  -moz-box-shadow: inset 0 -4px 9px -3px #000;
  box-shadow: inset 0 -4px 9px -3px #000;
}
#heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading p {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

#heading h1 {
  font-size: 50px;
  line-height: 75px;
  text-transform:uppercase;
  letter-spacing: -1px;
  color: #fff;
}

#heading h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 25px;
}



#footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  padding-top: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

h3 {text-align:left}

/** alternate responsive traits **/
@media(max-width:767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  #heading > .container {
    padding: 0 15px;
  }
  
  #main-content > .container {
    padding: 0 15px;

  }
  
  #footer > .container {
    padding: 0 15px;
  }
  #heading h1 {
    font-size: 50px;
    line-height: 55px;
  }
  #heading h4 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media(max-width:550px) {
  #heading {
    height: 300px;
  }
  #navigation .navlinks li {
    margin-right: 1px;
  }
  #navigation .navlinks li a {
    padding: 0 5px;
    font-size: 12px;
  }
}