.DS_Store
pom.xml.releaseBackup 
target/
dependency-reduced-pom.xml
*.ser
application.home_IS_UNDEFINEiD
README.md~
*.bin
*.releaseBackup
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
model-saver-*
mnist-pretrain-dbn.bin-*
deeplearning4j-scaleout/deeplearning4j-aws/src/main/java/org/deeplearning4j/aws/ec2/provision/Ec2CommandRunner.java.settings/
*.log
.project
.classpath
metastore_db
*.ipynb*
!/dl4j-examples/tutorials/*.ipynb
*-git.properties
