.DS_Store
pom.xml.releaseBackup 
target/
dependency-reduced-pom.xml
*.ser
application.home_IS_UNDEFINEiD
README.md~
*.bin
*.releaseBackup
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
*.log
.project
.classpath
metastore_db
*.ipynb*
!/dl4j-examples/tutorials/*.ipynb
*-git.properties
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*dependency-reduced-pom.xml

# Specific for Nd4j
*.md5
*.pom
*.sha1
*.ser
*.so
*.jpg
*.png
*.iml
*.prefs
*.dylib
lib/
nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/resources/bin
nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native/src/test/resources/writeNumpy.csv
nd4j/nd4j-backends/nd4j-tests/src/test/resources/tf_graphs/examples/**/data-all*
nd4j/nd4j-backends/nd4j-tests/src/test/resources/tf_graphs/examples/**/checkpoint
nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/onnx/
nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/tensorflow/

doc_sources/
doc_sources_*