CMakeCache.txt
CMakeFiles
CMakeScripts/
.vscode/
libnd4j.xcodeproj/
runtests*/
.csettings/
.project
*.so
*.a
*.dll
*.dylib
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-debug/
libnd4j.build/
build
*.ptx
*.cubin
cubinbuild
pitxbuild
blasbuild
testbuild
.idea/
libnd4jtests
runtests
.DS_Store
*.cbp
CTestTestfile.cmake
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
target
minifier
tests_cpu/layers_tests/minifier
tests_cpu/layers_tests/minifier.dSYM/
