/**
 * designing structure for page content
 * built (with love) using Bootstrap
 */

body {
  padding-top: 55px;
  background-color:#F2F2EB;
  font-size: 18px;
  line-height: 32px;
  font-family: Helvetica;
  padding-left: 15px;
}

#navigation {
  display: block;
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px #2d2d2d;
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(30,87,153) 0%, rgb(1,60,91) 0%, rgb(32,124,202) 99%, rgb(47,147,170) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(30,87,153)), color-stop(0%,rgb(1,60,91)), color-stop(99%,rgb(32,124,202)), color-stop(100%,rgb(47,147,170))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(30,87,153) 0%,rgb(1,60,91) 0%,rgb(32,124,202) 99%,rgb(47,147,170) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(30,87,153) 0%,rgb(1,60,91) 0%,rgb(32,124,202) 99%,rgb(47,147,170) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(30,87,153) 0%,rgb(1,60,91) 0%,rgb(32,124,202) 99%,rgb(47,147,170) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(30,87,153) 0%,rgb(1,60,91) 0%,rgb(32,124,202) 99%,rgb(47,147,170) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2f93aa',GradientType=0 ); /* IE6-9 */
  /**border-top: 1px solid #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
  */
}
#navigation .navlinks {
  list-style: none;
  float: right;
}
#navigation .navlinks li {
  display: inline-block;
  margin-right: 5px;
}
#navigation .navlinks li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 55px;
  font-weight: bold;
  color: #FFOAOO;
  font-size: 17px;

}
#navigation .navlinks li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  /**background: #fcfcfc;
  */
}

.btn {
  background: #FFF; 
  color: #051657;
  display: inline-block;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none; 
}

.btn:hover{
     background: #FF8300;
}

pre 
{
  color:#000000;
  background:#F8F8FF; 
}

#heading {
  display: block;
  width: 100%;
  height: 210px;
  padding: 20px 0;
  background: white no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 -4px 9px -3px #000;
  -moz-box-shadow: inset 0 -4px 9px -3px #000;
  box-shadow: inset 0 -4px 9px -3px #000;
  font-family: Arial, sans-serif;
}
#heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading p {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
  font-family: Arial, sans-serif;
}

#heading h1 {
  font-size: 50px;
  line-height: 75px;
  text-transform:uppercase;
  letter-spacing: -1px;
  color: #fff;
  font-family: Arial, sans-serif;
}

#heading h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
}



#footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  padding-top: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

h1 {

  text-align: left;
  font-family: Arial, sans-serif;
}

h2 {

  text-align: left;
  font-family: Arial, sans-serif;
}

h3 {

  text-align: left;
  font-family: Arial, sans-serif;
}

h4 {

  text-align: left;
  font-family: Arial, sans-serif;
}

/** alternate responsive traits **/
@media(max-width:767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  #heading > .container {
    padding: 0 15px;
  }
  
  #main-content > .container {
    padding: 0 15px;

  }
  
  #footer > .container {
    padding: 0 15px;
  }
  #heading h1 {
    font-size: 50px;
    line-height: 55px;
  }
  #heading h4 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media(max-width:550px) {
  #heading {
    height: 300px;
  }
  #navigation .navlinks li {
    margin-right: 1px;
  }
  #navigation .navlinks li a {
    padding: 0 5px;
    font-size: 12px;
  }
}
