# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
*.iml
.idea/
.cache
scalastyle-output.xml
.classpath
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
tmp
*.swp
*.log
.DS_Store
build-target