<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy; 2016. <a href="https://www.skymind.io">Skymind</a>. DL4J is distributed under an Apache 2.0 License.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a href="https://github.com/deeplearning4j/" target="_blank">Github</a></li>
           <li><a href="http://weibo.com/dl4j" target="_blank">微博</a></li>
          <li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=5d3891e980a3a1d54f72dbe3e9831df9237be11634766440e8fbe2bdf4836748">QQ交流群</a></li>
          <li><a href="../cn/index">中文</a></li>
          <li><a href="../ja-index">日本語</a></li>
          <li><a href="../kr-index">한글</a></li>
          <li><a href="http://nd4j.org/" target="_blank">ND4J</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->

<!-- Theme JS -->
<script src="../assets/themes/thedocs/js/theDocs.all.min.js"></script>
<script src="../assets/themes/thedocs/js/theDocs.js"></script>
<!-- End Theme JS -->

<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>

</body>
</html>
