
<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="copyright">
          &copy;{{ site.time | date: '%Y' }} <a href="http://www.skymind.io/">Skymind</a>. <em>DL4J is distributed under an Apache 2.0 License.</em> 
          <br><a href="https://github.com/deeplearning4j/" onClick="ga('send', 'event', 'dl4jfork', 'click');">Github</a> // <a href="https://twitter.com/deeplearning4j">Tweets</a> // <a href="http://deeplearning4j.org/zh-index.html">中文</a> // <a href="http://deeplearning4j.org/ja-index.html">日本語</a> // <a href="http://deeplearning4j.org/kr-index.html">한글</a> // <a href="http://nd4j.org/">ND4J: Fast, Scientific Computing for Java // </a>
        </p>
        <p>
          <a href="https://gitter.im/deeplearning4j/deeplearning4j?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" target="_blank"><img src="https://badges.gitter.im/Join%20Chat.svg" alt="Chat with DL4J on Gitter"/></a>
        </p>
        <p>
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j" data-icon="octicon-star" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/stargazers" data-count-api="/repos/deeplearning4j/deeplearning4j#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star deeplearning4j/deeplearning4j on GitHub">Star</a>

          <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j/fork" onClick="ga('send', 'event', 'dl4jfork', 'click');" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/network" data-count-api="/repos/deeplearning4j/deeplearning4j#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork deeplearning4j/deeplearning4j on GitHub">Fork</a>

          <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download deeplearning4j/deeplearning4j on GitHub">Download</a>

          <!-- Place this tag right after the last button or just before your close body tag. -->
          <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script> 
        </p>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</footer>

<!-- Place this tag where you want the su badge to render -->
<su:badge layout="3"></su:badge>

<!--gitter chat tab that opens up on the lower right -->
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'deeplearning4j/deeplearning4j'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<!-- Begin HubSpot Subscribe -->
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '.hbspt-form{text-align:center; padding-bottom: 20px; margin: auto; width: 26em;} .hs_email{float: left; margin-right: 10px;} .hs-button{font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing: border-box; height: 32px; line-height: 32px; padding: 0 18px; display: inline-block; margin: 0;} .hs-form-required{display:none;} .hs-input {font-size: 15px; border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing: border-box; height: 32px; padding: 0px 0.4em; display: inline-block; margin: 0; width: 350px; vertical-align: top; float:left;} .hs-error-msgs{font-size: 15px; color: #FF0000;}',
    portalId: '2179705',
    formId: 'fe8cb1a1-6604-4bea-b578-29ad9c6377e6'
  });
</script>
<!--End HubSpot Subscribe-->
<script src="//cdn.optimizely.com/js/2296590312.js"></script>

<!-- theme js -->
<!-- js placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="assets/themes/metrico/js/bootstrap.min.js"></script>
<!-- Jquery easing -->                                                      
<script type="text/javascript" src="assets/themes/metrico/js/jquery.easing.1.3.min.js"></script>
<!--sticky header-->
<script type="text/javascript" src="assets/themes/metrico/js/jquery.sticky.js"></script>
<!--common script for all pages-->
<script src="js/jquery.app.js"></script>

<script type="text/javascript">
    //sticky header on scroll
    $(window).load(function() {
        $(".sticky").sticky({topSpacing: 0});
    });
</script>
<!-- /theme js -->


</body>