<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy; 2016. <a href="https://www.skymind.io">Skymind</a>. DL4J is distributed under an Apache 2.0 License.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a href="https://github.com/deeplearning4j/">Github</a></li>
          <li><a href="https://twitter.com/deeplearning4j">Tweets</a></li>
          <li><a href="https://www.facebook.com/deeplearning4j/">Facebook</a></li>
          <li><a href="../zh-index">中文</a></li>
          <li><a href="../ja-index">日本語</a></li>
          <li><a href="../kr-index">한글</a></li>
          <li><a href="http://nd4j.org/">ND4J</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->

<!-- Theme JS -->
<script src="../assets/themes/thedocs/js/theDocs.all.min.js"></script>
<script src="../assets/themes/thedocs/js/theDocs.js"></script>
<!-- End Theme JS -->

<!-- Gitter -->
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'deeplearning4j/deeplearning4j'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<!-- End Gitter -->

</body>
</html>
