<br /><br /><br />
          </div> 
          <br /><br /><br />
          <div class="span2">
                    </div>
          
        </div>

    </body>
    <div class="footer">

             <div class="span12">
                            
            <div class="contact" style="text-align:right; font-family: Arial, sans-serif;">
              <p>
                <a href="https://github.com/agibsonccc/java-deeplearning">github.com/agibsonccc/java-deeplearning</a><br />
                <a href="https://twitter.com/dl4j1">twitter.com/dl4j1</a><br />
                <a href="mailto:0@blix.io">0@blix.io</a><br />
              </p>
            </div>
            </div>
           <div class="span2">
                    </div>
          </div>
</html>