<br /><br /><br />
          </div> 
          <br /><br /><br />
          <div class="span2">
                    </div>
          
        </div>

    </body>
    <div class="footer">

             <div class="span12">
                            
            <div class="contact" style="text-align:right; font-family: Arial, sans-serif;">
              <p>
                DL4J is distributed under an Apache 2.0 License // &#169; 2014<br />
                <a href="mailto:deeplearning4j@googlegroups.com">deeplearning4j@googlegroups.com</a> // <a href="https://groups.google.com/forum/#!forum/deeplearning4j">DL4J Google Group</a><br />
                <strong>IRC</strong>: /join #deeplearning4j on <a href="https://webchat.freenode.net/">Freenode</a> //<a href="https://github.com/agibsonccc/java-deeplearning">Github Repo</a> // 
                <a href="https://twitter.com/dl4j1">DL4J on Twitter</a><br />

              </p>
            </div>
            </div>
           <div class="span2">
                    </div>
          </div>
</html>
