<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title margin-left="55px";>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/global.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/bootstrap.min.js"></script>

    </head>

    <body>
        <nav id="navigation">
          <div class="container">
            <h1><a href="/">{{ site.name }}</a></h1>
          </div>
        </nav>

          <br /><br /><br />
          <div class="span3">
                <br />
                <ul>
                   <li><a href="../index.html">Neural Nets Overview</a></li>
                    <ul>
                        <li><a href="../restrictedboltzmannmachine.html">Restricted Boltzmann Machine</a></li>
                        <li><a href="../continuousrestrictedboltzmannmachine.html">Continuous Restricted Boltzmann Machine</a></li>
                        <li><a href="../denoisingautoencoder.html">Denoising Autoencoder</a></li>
                    </ul>
                   <li><a href="../multinetwork.html">Multilayer Neural Nets</a></li>
                    <ul>

                        <li><a href="../deepbeliefnetwork.html">Deep-Belief Network</a></li>
                        <li><a href="../continuousdeepbeliefnetwork.html">Continuous Deep-Belief Network</a></li>
                        <li><a href="../stackeddenoisingautoencoder.html">Stacked Denoising Autoencoder</a></li>
                    </ul>
                   <li><a href="../scaleout.html">Scaleout (Multiprocessor/Clustering)</a></li>
                   <li><a href="../distributed.html">Running a Worker Node</a></li>

                    <li>
                    Tutorials</li>
                    <ul>
                    <li><a href="../mnist.html">MNIST DBN Tutorial</a></li>
                    <li><a href="../rbm-mnist.html">MNIST RBM Tutorial</a></li>

                    <li><a href="../word2vec.html">Word2vec</a></li>
                    </ul>
                   </li>
                     <li><a href="../downloads.html">DataSet downloads</a></li>

                    <li><a href="../debug.html">Debugging Neural Net Models</a></li>

                  <li><a href="../modelpersistence.html">Saving and Loading Models</a></li>
                   <li><a href="../output.html">How to Interpret Neural Net Output?</a></li>
                    <li><a href="../data-sets-ml.html">Data Sets and Machine Learning</a></li>
                    <li><a href="../examples.html">Motivating Examples</a></li>
                    <li><a href="../glossary.html">Glossary</a></li>
                    <li><a href="../about.html">About</a></li>
                </ul>
                    </div>
          <div class="span8">