<!-- Top Nav -->
<nav class="navbar navbar-default">
  <div class="container">

    <!-- Toggle buttons and brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>

      <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="../index.html"><img src="../assets/themes/thedocs/img/DL4J-2.png" alt="Deeplearning4j" height="25px"></a>
    </div>
    <!-- END Toggle buttons and brand -->

    <!-- Top navbar -->
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
      <ul class="nav navbar-nav navbar-right">
        <li class="hero"><a href="quickstart">Quickstart</a></li>
        <li><a href="documentation">Documentation</a></li>
        <li><a href="gpu">GPUs</a></li>
        <li><a href="spark">Spark</a></li>
        <li><a href="word2vec">Word2Vec</a></li>
        <li><a href="about">About</a></li>
        <li><a href="javascript:Upvert.show();">FAQ</a></li>
      </ul>
    </div>
    <div class="github-ribbon">
    <a href="https://github.com/deeplearning4j/deeplearning4j"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    </div>
    <!-- END Top navbar -->
  </div>
</nav>
<!-- End Top Nav -->
