<form>
    <table>
        <tr>
            <td><strong>Iteration time</strong></td>
            <td><strong>Encode time</strong></td>
            <td><strong>Decode time</strong></td>
            <td><strong>Update time</strong></td>
            <td><strong>Service overhead</strong></td>
        </tr>
        <tr>
            <td><input type="text" id="iter"/></td>
            <td><input type="text" id="enc"/></td>
            <td><input type="text" id="dec"/></td>
            <td><input type="text" id="upd"/></td>
            <td><input type="text" id="srv"/></td>
        </tr>
    </table>
</form>