<form>
    <table>
        <tr>
            <td><small><strong>Iteration time</strong></small></td>
            <td><small><strong>Encode time</strong></small></td>
            <td><small><strong>Decode time</strong></small></td>
            <td><small><strong>Update time</strong></small></td>
            <td><small><strong>Service overhead</strong></small></td>
        </tr>
        <tr>
            <td><input type="text" id="iter" value="550" style="width: 30px;"/></td>
            <td><input type="text" id="enc" value="50" style="width: 30px;"/></td>
            <td><input type="text" id="dec" value="5" style="width: 30px;"/></td>
            <td><input type="text" id="upd" value="50" style="width: 30px;"/></td>
            <td><input type="text" id="srv" value="20" style="width: 30px;"/></td>
        </tr>
    </table>
</form>