<ul class="sidenav dropable sticky">
    <li>
      <a href="#">Getting Started</a>
      <ul>
        <li><a href="quickstart">Quickstart: Running DL4J</a></li>
        <li><a href="gettingstarted">Comprehensive Setup Guide</a></li>
        <li><a href="buildinglocally">Build Locally From Master</a></li>
        <li><a href="maven">Use the Maven Build Tool</a></li>
        <li><a href="buildtools">Configure DL4J in Ivy, Gradle, SBT etc.</a></li>
        <li><a href="snapshot">Download Snapshots With Maven</a></li>
        <li><a href="http://nd4j.org/gpu_native_backends.html">Swap CPUs for GPUs</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Tutorials</a>
      <ul>
        <li><a href="tutorials">Deep Learning Tutorial Index</a></li>
        <li><a href="mnist-for-beginners">MNIST for Beginners</a></li>
        <li><a href="usingrnns">Using Recurrent Nets in DL4J</a></li>
        <li><a href="http://nd4j.org/userguide">Use ND4J for Scientific Computing</a></li>
        <li><a href="datavec">DataVec: Vectorization and Preprocessing for Machine Learning</a></li>
        <li><a href="updater">Neural Net Updaters: SGD, Adam, Adagrad, Adadelta, RMSProp</a></li>
        <li><a href="welldressed-recommendation-engine">Build a Recommendation Engine With DL4J</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Introduction to Deep Learning</a>
      <ul>
        <li><a href="neuralnet-overview">Introduction to Neural Networks</a></li>
        <li><a href="questions">Questions to Ask When Applying DL</a></li>
        <li><a href="deeplearningforbeginners.html">Deep Learning for Beginners</a></li>
        <li><a href="use_cases">Use Cases</a></li>
        <li><a href="accuracy">Deep Learning's Accuracy</a></li>
        <li><a href="ai-machinelearning-deeplearning">AI, Machine Learning and Deep Learning</a></li>
        <li><a href="data-for-deep-learning.html">The Data You Need For Deep Learning</a></li>
        <li><a href="multinetwork">Multilayer Neural Nets</a></li>
        <li><a href="neuralnetworktable">Choosing a Neural Network</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Neural Networks</a>
      <ul>
        <li><a href="lstm">Long Short-Term Memory Units</a></li>
        <li><a href="convolutionalnets">Convolutional Nets for Image Processing</a></li>
        <li><a href="recurrentnetwork">Recurrent Nets and LSTMs</a></li>
        <li><a href="word2vec">Word2Vec: Neural Word Embeddings</a></li>
        <li><a href="restrictedboltzmannmachine">Restricted Boltzmann Machines</a></li>
        <li><a href="deepautoencoder">Deep AutoEncoder</a></li>
        <li><a href="denoisingautoencoder">Denoising Autoencoders</a></li>
        <li><a href="stackeddenoisingautoencoder">Stacked Denoising Autoencoders</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Data & ETL</a>
      <ul>
        <li><a href="data-sets-ml">Datasets and Machine Learning</a></li>
        <li><a href="customdatasets">Custom Datasets</a></li>
        <li><a href="csv-deep-learning">CSV Data Uploads</a></li>
        <li><a href="opendata">Open Data</a></li>
        <li><a href="https://github.com/deeplearning4j/DataVec">DataVec: ETL for ML</a></li>
        <li><a href="canova">Vectorize Data With DataVec</a></li>
        <li><a href="image-data-pipeline.html#record">Build a Data Pipeline</a></li>
        <li><a href="simple-image-load-transform">Customize an Image Pipeline</a></li>
        <li><a href="datavecdoc/">DataVec Javadoc: DataVec Methods & Classes for ETL</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Tuning & Training</a>
      <ul>
        <li><a href="spark">Training Neural Networks with Apache Spark</a></li>
        <li><a href="iterativereduce">Distributed Training: Iterative Reduce Defined</a></li>
        <li><a href="visualization">Visualize, Monitor and Debug Network Learning</a></li>
        <li><a href="troubleshootingneuralnets">Troubleshoot Training & Select Network Hyperparameters</a></li>
        <li><a href="earlystopping">Train Networks using Early Stopping</a></li>
        <li><a href="output">Interpret Neural Net Output</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Deployment</a>
      <ul>
        <li><a href="spark-gpus">Running Deep Learning on Distributed GPUs With Spark</a></li>
        <li><a href="model-zoo">Model Zoo: Pre-trained Models</a></li>
        <li><a href="modelpersistence">Save and Load Models</a></li>
        <li><a href="tsne-visualization">Visualize Data with t-SNE</a></li>
        <li><a href="linear-regression">Perform Regression With Neural Nets</a></li>
        <li><a href="usingrnns">Use Recurrent Networks in DL4J</a></li>
        <li><a href="compgraph">Build Complex Network Architectures with Computation Graph</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Open-Source Community</a>
      <ul>
        <li><a href="devguide">Contribute to DL4J (Developer Guide)</a></li>
        <li><a href="architecture">Architecture</a></li>
        <li><a href="features">Features</a></li>
        <li><a href="roadmap">Roadmap</a></li>
        <li><a href="releasenotes">Latest Release Notes</a></li>
        <li><a href="doc">Javadoc: DL4J Methods and Classes</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Natural Language Processing</a>
      <ul>
        <li><a href="nlp">DL4J's NLP Framework</a></li>
        <li><a href="word2vec">Word2vec for Java and Scala</a></li>
        <li><a href="doc2vec">Doc2vec for Java and Scala</a></li>
        <li><a href="textanalysis">Textual Analysis and DL</a></li>
        <li><a href="bagofwords-tf-idf">Bag of Words</a></li>
        <li><a href="sentenceiterator">Sentence and Document Segmentation</a></li>
        <li><a href="tokenization">Tokenization</a></li>
        <li><a href="vocabcache">Vocab Cache</a></li>
      </ul>
    </li>

    <li>
      <a href="#">ND4J: Numpy for the JVM</a>
      <ul>
        <li><a href="http://nd4j.org/backend.html">ND4J Backends: Hardware Acceleration on CPUs and GPUs</a></li>
        <li><a href="http://nd4j.org/userguide">ND4J User Guide</a></li>
        <li><a href="http://nd4j.org/doc/">ND4J Javadoc</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Resources</a>
      <ul>
        <li><a href="eigenvector">Eigenvectors, PCA, Covariance and Entropy</a></li>
        <li><a href="thoughtvectors">Thought Vectors, AI and NLP</a></li>
        <li><a href="markovchainmontecarlo">Monte Carlo, Markov Chains and Deep Learning</a></li>
        <li><a href="unsupervised-learning">Unsupervised Learning: Use Cases</a></li>
        <li><a href="reinforcementlearning">DL and Reinforcement Learning</a></li>
        <li><a href="scala">Scala, Spark and Deep Learning</a></li>
        <li><a href="compare-dl4j-torch7-pylearn">DL4J, Torch7, Theano and Caffe</a></li>
        <li><a href="glossary">Glossary of Terms for Deep Learning and Neural Nets</a></li>
        <li><a href="deeplearningpapers">Free Online Courses, Tutorials and Papers</a></li>
        <li><a href="deeplearningtranslated">Deep Learning in Other Languages</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Other Languages</a>
      <ul>
        <li><a href="../zh-index">中文</a></li>
        <li><a href="../ja-index">日本語</a></li>
        <li><a href="../kr-index">한글</a></li>
      </ul>
    </li>

    <li class="subscribe-form">
      <!-- Begin HubSpot Subscribe -->
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          css: '.hs-button{background-color: transparent; border: 1px solid transparent; border-radius: 3px; color: #2196f3; border-color: #2196f3; margin-top: 10px;} .hs-input {.width: 100%; padding: 0px 10px; border: 1px solid #e7e7e7; transition: .5s ease;} .hs-form-required{display:none;} .hs-error-msgs{font-size: 15px; color: #FF0000;}',
          portalId: '2179705',
          formId: 'fe8cb1a1-6604-4bea-b578-29ad9c6377e6'
        });
      </script>
      <!--End HubSpot Subscribe-->
    </li>
</ul>
