/* All Desktop */
@media (min-width: 768px) {
  .navbar-header {
    display: none;
  }

  .navbar-right {
    padding-left: 180px;
  }

  .navbar li {
    display: inline-block;
    float: none;
  }

  .navbar .nav {
    text-align: right;
    width: 100%;
  }

  .navbar .search-desktop {
    display: inline-block;
    width: 150px;
    max-width: 550px;
    transition: width .2s;
  }

  .navbar .search-desktop input {
    display: block;
    width: 100%;
    padding-left: 30px;
    transition: opacity .2s;
    opacity: .5;
    border-radius: 2px;
  }

  .navbar .search-desktop ul {
    display: none;
  }

  .navbar .search-desktop .glyphicon-search {
    position: absolute;
    top: 19px;
    left: 24px;
    pointer-events: none;
    color: #2a3542;
  }

  .navbar .search-desktop .glyphicon-remove {
    position: absolute;
    top: 19px;
    right: 24px;
    display: none;
    cursor: pointer;
    color: #2a3542;
  }

  .navbar .search-desktop:hover input {
    opacity: .7;
  }

  .navbar.search-visible .search-desktop .glyphicon-remove {
    display: block;
  }

  .navbar.search-visible .search-desktop {
    width: 100%;
  }

  .navbar.search-visible .search-desktop input {
    opacity: 1;
  }

  .navbar.search-visible .search-desktop ul {
    line-height: 2.2;
    position: absolute;
    top: 40px;
    right: 15px;
    left: 15px;
    display: block;
    padding: 10px;
    padding-bottom: 0;
    text-align: left;
    border: 1px solid #ddd;
    border-top: none;
    background: white;
  }

  .navbar.search-visible .search-desktop ul li {
    display: block;
  }

  .navbar.search-visible .search-desktop ul li.see-more {
    font-size: 13px;
    line-height: 3;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
  }
}

/* Large Desktops */
@media (min-width: 768px) and (max-width: 920px) {
  .navbar {
    margin-right: 105px;
  }

  .navbar li a {
    padding-right: 5px;
    padding-left: 5px;
  }

  .navbar .search-desktop {
    width: 62px;
  }

  .navbar .search-desktop input {
    padding-right: 0;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  .navbar .search-desktop {
    display: none;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-header input {
    padding-left: 28px;
  }

  .navbar-header .search-mobile form {
    display: inline-block;
  }

  .navbar-header .glyphicon-search {
    line-height: 47px;
    margin-right: 5px;
  }

  .navbar-header .navbar-brand:hover {
    font-size: 22px;
  }

  .navbar-header .search-mobile {
    position: relative;
    width: 75%;
    margin-left: 12.5%;
  }

  .navbar-header .search-mobile form {
    position: relative;
    top: -43px;
    width: 100%;
  }

  .navbar-header .search-mobile .glyphicon-search {
    font-size: 16px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 7px;
    color: #2a3542;
  }

  .navbar-header .search-mobile .glyphicon-remove {
    font-size: 16px;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 7px;
    cursor: pointer;
    color: #2a3542;
  }

  .navbar.search-visible .search-mobile ul {
    font-size: 14px;
    line-height: 2.2;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    text-align: left;
    border: 1px solid #ddd;
    border-top: none;
    background: white;
  }

  .navbar.search-visible .search-mobile ul li.see-more {
    font-size: 13px;
    line-height: 3;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
  }
}

/* Search Page */
.search-page input {
  font-size: 25px;
  font-weight: 100;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: .5s ease;
  color: #ccc;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.search-page input:focus {
  color: #777;
  border-color: #ccc;
  outline: none;
}

.search-page ul {
  list-style-type: none;
}

.search-page li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.search-page li h6 {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.search-page li div {
  color: #999;
}
