body {
    margin: 0;
}
.outerDiv {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.topBarDiv {
    width: 100%;
    height:45px;
    background-color: black;
    color: #f6f6f6;
}
.topBarDivContent {
    height: 45px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    align-items: center;
}
.navDiv {
    width: 210px;
    height: calc(100% - 45px);
    background-color: #37373C;
    /*position: absolute;*/
    /*left: 0;*/
    float: left;
}
.navTopSpacer {
    width: 100%;
    height:100px;
    color: #64646E;
}
.navElementSpacer {
    width:100%;
    height:3px;
}
.navHorizontalSpacer {
    width: 10px;
    height:50px;
}
.navElement {
    width: 200px;   /*210 - 2*border */
    height: 50px;
    background-color: #4B4B55;
    /* Text */
    display: flex;
    align-items: center;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* Borders */
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-color: #37373C;
    border-top-color: #37373C;
    border-left-color: #4B4B55;
    border-right-color: #4B4B55;
    /* Padding */
    /*margin-left: 10px;*/
    /*margin-right: 5px;*/
}
.navElementSelected {
    border-left-color: #787882;
}
.navElement:hover {
    background-color: #64646E;
    border-right-color: #64646E;
    border-left-color: #f6f6f6;
}
.navBottom {
    width: 210px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: #64646E;
}
.textlink {
    display: block;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
.textlink:link {
    color: #64646E;
    text-decoration: none;
}
.textlink:visited {
    color: #64646E;
    text-decoration: none;
}
.languageSelect {
    /*background: transparent;*/
    background-color: #37373C;
    color: #64646E;
    /*border-color: #4B4B55;*/
    border-color: #64646E;
}
.contentDiv {
    /*width: 100%;*/
    float: left;
    width: calc(100% - 210px);
    height: calc(100% - 45px);
    background-color: #f6f6f6;
    /*margin-left: 210px;     !* 210 pixels = width of nav bar *!*/
}
