body {
    margin: 0;
}
.outerDiv {
    width: 100%;
    height: 100%;
    background-color: #1b6d85;
}
.navDiv {
    width: 250px;
    height: 100%;
    background-color: #101010;
}
.navElement {
    width: 100%;
    height: 30px;
    background-color: #985f0d;
}
.contentDiv {
    width: auto;
    height: 100%;
    background-color: #4cae4c;
}
