pom.xml.releaseBackup 
target/
*.ser
*.iml
application.home_IS_UNDEFINEiD
README.md~
*.bin
*.releaseBackup
*.bin
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
model-saver-*
mnist-pretrain-dbn.bin-*
deeplearning4j-scaleout/deeplearning4j-aws/src/main/java/org/deeplearning4j/aws/ec2/provision/Ec2CommandRunner.java.settings/
*.log
.project
.classpath
.DS_Store
/logs/
/datavec-local/src/main/java/org/datavec/local/transforms/TableRecords.java
**dependency-reduced-pom.xml
*-git.properties
