body {
    margin: 0;
    overflow: hidden;
}
.outerDiv {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.topBarDiv {
    width: 100%;
    height:45px;
    background-color: black;
    color: #f6f6f6;
}
.topBarDivContent {
    height: 45px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    align-items: center;
}
.navDiv {
    width: 210px;
    height: calc(100% - 45px);
    background-color: #37373C;
    /*position: absolute;*/
    /*left: 0;*/
    float: left;
}
.navSessionID {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #f6f6f6;
    padding-left: 10px;
}
.navTopSpacer {
    width: 100%;
    height: 30px;
    color: #64646E;
}
.navElementSpacer {
    width:100%;
    height:3px;
}
.navHorizontalSpacer {
    width: 10px;
    height:50px;
}
.navElement {
    width: 200px;   /*210 - 2*border */
    height: 50px;
    background-color: #4B4B55;
    /* Text */
    display: flex;
    align-items: center;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* Borders */
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-color: #37373C;
    border-top-color: #37373C;
    border-left-color: #4B4B55;
    border-right-color: #4B4B55;
    /* Padding */
    /*margin-left: 10px;*/
    /*margin-right: 5px;*/
}
.navElementSelected {
    border-left-color: #787882;
}
.navElement:hover {
    background-color: #64646E;
    border-right-color: #64646E;
    border-left-color: #f6f6f6;
}
.navBottom {
    width: 210px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: #787882;
}
.textlink {
    display: block;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
.textlink:link {
    color: #787882;
    text-decoration: none;
}
.textlink:visited {
    color: #787882;
    text-decoration: none;
}
.languageSelect {
    /*background: transparent;*/
    background-color: #37373C;
    color: #787882;
    border-color: #787882;
}
.contentDiv {
    /*width: 100%;*/
    float: left;
    width: calc(100% - 210px);
    height: calc(100% - 45px);
    background-color: #f6f6f6;
    overflow: auto;
    /*flex-wrap: wrap;*/
    /*flex-grow: 1;*/
    display: flex;
}


/* ----- Specific to Overview page ----- */
.overviewOuterDiv {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.overviewScoreChartDiv {
    /*float: left;*/
    width: 70%;
    height: 400px;
    min-width: 500px;
    max-width: 700px;
    background-color: #8c8c8c;  /* Temp, for dev/debugging */
    flex-grow: 2;
}

.overviewTableDiv {
    /*float: left;*/
    width: 30%;
    min-width: 220px;
    max-width: 350px;
    height: 400px;
    background-color: #9d9d9d;  /* Temp, for dev/debugging */
    flex-grow: 1;
}

.overviewTable {
    border: 1px solid black;
}

/* ----- Specific to Model page ----- */
.modelOuterDiv {
    width: 100%;
}
.modelGraphDiv {
    width:40%;
    height: 100%;
    min-width:200px;
    max-width: 400px;
    background-color: #9acfea;  /** Temp for layout debugging */
    float: left;
}
.modelContentDiv {
    width: 30%;
    height: 300px;
    min-width:300px;
    max-width: 600px;
    background-color: #e0e0e0; /** Temp for layout debugging */
    float: left;
}

/* ----- Specific to System page ----- */
.systemOuterDiv {
    width: 100%;
}
.systemContentDiv {
    width: 25%;
    height: 300px;
    min-width:300px;
    max-width: 600px;
    background-color: #9acfea; /** Temp for layout debugging */
    float: left;
}