{% include header.html %}

<!-- Top Navigation -->
<header class="site-header navbar-fullwidth navbar-transparent">
  {% include navigation.html %}
<!-- Banner -->
<div class="banner banner-full-height overlay-black" style="background-image: url(assets/themes/thedocs/img/demo_vgg_hero.jpg);">
  <!-- Loading -->
  <div id="demo-loading" class="container text-center demo-view">
    <h1>Image Classifier Demo</h1>
    <h3>Please wait...</h3>
    <img src="/assets/themes/thedocs/img/loading.svg" alt="loading...">
  </div>

  <!-- Error -->
  <div id="demo-error" class="container text-center demo-view" style="display: none;">
    <h1>Image Classifier Demo</h1>
    <h3>An error occurred.</h3>
    <a class="btn btn-white btn-xl btn-outline" href="javascript:window.location.reload(true);" role="button"> <i class="fa fa-refresh"></i> RETRY </a>
  </div>

  <!-- Upload -->
  <div id="demo-upload" class="container text-center demo-view" style="display: none;">
    <h1>Image Classifier Demo</h1>
    <h3>Classify an image with VGG-16 on Deeplearning4j</h3>
    <span class="btn btn-white btn-xl btn-outline fileinput-button">
        <i class="fa fa-camera"></i>
        <span> CHOOSE IMAGE</span>
      <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="uploaded_file">
    </span>
    <!--<a class="btn btn-white btn-xl btn-outline" href="quickstart" role="button"> <i class="fa fa-camera"></i> CHOOSE IMAGE </a>-->
  </div>

  <!-- Results -->
  <div id="demo-results" class="container text-center demo-view" style="display: none;">
    <h3>On CPU, VGG-16 found in <span id="results-feedforward"></span>:</h3>
    <p id="results-data"></p>
    <a class="btn btn-white btn-xl btn-outline" href="javascript:;" role="button" id="demo-raw"> VIEW RESPONSE </a>
    <a class="btn btn-white btn-xl btn-outline" href="javascript:window.location.reload(true);" role="button"> TRY AGAIN </a>
  </div>
<!-- END Banner -->
</header>
<!-- END Top Navigation -->

<main class="container">
  <div class="row">

    <!-- Sidebar -->
    <aside class="col-md-3 col-sm-3 sidebar">
      {% include sidebar.html %}
    </aside>
    <!-- END Sidebar -->

    <!-- Main Content -->
    <article class="col-md-9 col-sm-9 main-content" role="main">
      {{ content }}
    </article>
    <!-- END Main Content -->
  </div>
</main>

{% include footer.html %}

<script type="text/javascript">
  $(function() {

    "use strict";

    // hide the loading when page is loaded
    $('#demo-loading').hide();
    $('#demo-upload').show();

    // trigger the file upload on click
    var url = 'https://demo.skymind.io:8001/getPredictions';
    var $fu = $('#fileupload');
    $fu.fileupload({
      url: url,
      dataType: 'json'
    })
    .prop('disabled', !$.support.fileInput)
    .parent()
    .addClass($.support.fileInput ? undefined : 'disabled');

    $fu.bind('fileuploadstart', function() {
      $('.demo-view').hide();
      $('#demo-loading').show();
    });

    $fu.bind('fileuploadprogressall', function() {
//       console.log('File chunk uploaded');
    });

    $fu.bind('fileuploaddone', function(e, data) {
      var results = data._response.result;
      var predictions = results.data;
      console.log('Classification success', data);

      for(var i = 0; i < predictions.length; i++) {
        var prettyLabel = predictions[i].label;
        prettyLabel = prettyLabel.replace('_',' ');
        prettyLabel = capitalizeFirstLetter(prettyLabel);
        $('#results-data').append('<span class="label label-default">'+prettyLabel+' '+Math.round(predictions[i].prediction*10)/10+'%</span> &nbsp;');
      }

      $('#results-feedforward').text(results.performance.feedforward+"ms");

      // show the results
      $('.demo-view').hide();
      $('#demo-results').show();

      $('#demo-raw').click(function() {
        alert(JSON.stringify(results));
      });
    });

    $fu.bind('fileuploadfail', function() {
      console.log('File upload failed to server');
      $('.demo-view').hide();
      $('#demo-error').show();
    });

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

  });
</script>
<script src="assets/themes/thedocs/vendors/jquery/jquery.ui.widget.js"></script>
<script src="assets/themes/thedocs/vendors/jquery/jquery.iframe-transport.js"></script>
<script src="assets/themes/thedocs/vendors/jquery/jquery.fileupload.js"></script>
