<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include /head.html %}
  
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>DL4J</h1>
        <h2>Deeplearning for Java</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/ja-index.html'>Deeplearning4jとは何か?</a></li>
          <li><a href='/ja-gettingstarted.html'>Deeplearning4j入門</a></li>
          <li><a href='http://nd4j.org/ja-getstarted.html'>ND4J入門</a></li>
          <li><a href='mailto:chris@skymind.io'>お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <div class="container content">
</body>

      {{ content }}

<div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. <em>DL4J is distributed under an Apache 2.0 License.</em> <br />
          <a href="https://github.com/SkymindIO/deeplearning4j">Github Repo</a> // <a href="https://twitter.com/dl4j1">Tweets</a> // <a href="https://webchat.freenode.net/">#deeplearning4j @IRC</a> // <a href="https://groups.google.com/forum/#!forum/deeplearning4j">Google Group</a> </br><a href="http://deeplearning4j.org/zh-index.html">中文</a> // <a href="http://deeplearning4j.org/ja-gettingstarted.html">日本語</a>
          
        </p>
      </div>
    </div>       
</html>
