---
layout: kr-all
---

<section class="section-lg-small home-alt bg-img" id="home">
  <div class="bg-overlay-gradient bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="home-wrapper text-center">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-white page-content" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 adjust-img-responsive">
        {{ content }}
      </div>
    </div>
  </div>
</section>
