---
layout: all
---
<section class="section-lg home-alt bg-img" id="home">
    <div class="bg-overlay-gradient bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="home-wrapper text-center">
                    <p class="text-muted">Deep Learning for Java</p>
                    <h1>Open-source, distributed, deep-learning library for the JVM</h1>
                    <a href="./quickstart" class="btn btn-custom">Quickstart</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section bg-white" id="what">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="title">What is Deeplearning4j?</h2>
            <p>Deeplearning4j is the first commercial-grade, open-source, distributed deep-learning library written for Java and Scala. Integrated with Hadoop and <a href="./spark">Spark</a>, DL4J is designed to be used in business environments on distributed <a href="./gpu">GPUs</a> and CPUs. <a href="http://skymind.io">Skymind</a> is its commercial support arm.</p>
            <!-- Github buttons -->
            <p style="margin-top: 40px;">
              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j" data-icon="octicon-star" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/stargazers" data-count-api="/repos/deeplearning4j/deeplearning4j#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star deeplearning4j/deeplearning4j on GitHub">Star</a>

              <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j/fork" onClick="ga('send', 'event', 'dl4jfork', 'click');" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/network" data-count-api="/repos/deeplearning4j/deeplearning4j#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork deeplearning4j/deeplearning4j on GitHub">Fork</a>

              <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download deeplearning4j/deeplearning4j on GitHub">Download</a>
            </p>
            <!-- /Github buttons -->
        </div>
    </div>
  </div>
</section>


<section class="section" id="features" style="padding-bottom: 110px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-science"></i>
          </div>
          <h3>Distributed</h3>
          <p class="text-muted">DL4J takes advantage of the latest distributed computing frameworks including Hadoop and Apache Spark to improve training.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-light"></i>
          </div>
          <h3>Open-source</h3>
          <p class="text-muted">Completely open-source and is maintained by the community and its commercial arm, <a href="http://skymind.io">Skymind</a>.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-display1"></i>
          </div>
          <h3>Java/Scala/JVM</h3>
          <p class="text-muted">Deeplearning4j is written in Java and is compatible with any JVM language. Import into Clojure, Scala, &amp; Kotlin projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="facts-box testimonial-cta">
          <div class="row">
            <div class="col-sm-12">
             <img src="assets/themes/metrico/images/testi-1.jpg" alt="img" class="img-circle img-thumbnail">
             <p>"I'm very keen on using Deeplearning4j in production here. This is a massive opportunity in a market worth billions of quid." - <span class="text-colored">John M.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-white" id="features">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-sm-6">
        <img src="assets/themes/metrico/images/imac-dl4j-ui.png" class="img-responsive" alt="img">
      </div>
      <div class="col-sm-6">
        <div class="features-alt">
          <div class="feature-alt-icon">
            <i class="pe-7s-light"></i>
          </div>
          <h4 class="text-muted">Scalable &amp; Production-ready</h4>
          <h3>Welcome to Deeplearning4j</h3>

          <p class="text-muted">Deeplearning4j aims to be cutting-edge plug and play, more convention than configuration, which allows for fast prototyping for non-researchers. DL4J is customizable at scale. Released under the Apache 2.0 license, all derivatives of DL4J belong to their authors.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="faqs">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h2 class="title">Learn More</h2>
        <p class="title-alt">If you have any questions, please join <a href="https://gitter.im/deeplearning4j/deeplearning4j">us on Gitter</a>; for premium support, <a href="http://www.skymind.io/contact?__hstc=39244156.7eec9b993358e4a3012e6ae058032a20.1463443629313.1463499823977.1463501969633.5&amp;__hssc=39244156.11.1463501969633&amp;__hsfp=37206261">contact us at Skymind</a>. <a href="http://nd4j.org/">ND4J is the Java-based scientific computing engine</a> powering our matrix operations. On large matrices, our benchmarks show <a href="http://nd4j.org/benchmarking">it runs roughly twice as fast as Numpy</a>.</p>
        
        <div class="row text-left">
          <div class="col-sm-6">
              <div class="question-box">
                  <h4><span class="text-colored">Q.</span>Use cases?</h4>
                  <p><span><b>A. </b></span>DL4J is applied for <a href="http://www.skymind.io/finance">Fraud detection</a>, <a href="http://www.skymind.io/commerce">Recommender Systems (CRM, adtech, churn prevention)</a>, <a href="./linear-regression.html">Regression and predictive analytics</a>, Face/image recognition, Voice search, Speech-to-text (transcription), and preventative hardware monitoring (anomaly detection).</p>
              </div>

              <div class="question-box">
                  <h4><span class="text-colored">Q.</span>Why Deeplearning4j?</h4>
                  <p><span><b>A. </b></span>With a versatile <a href="http://nd4j.org/">n-dimensional array</a> class for Java and Scala, DL4J is <a href="./spark.html">Scalable<a/> on <a href="https://github.com/deeplearning4j/deeplearning4j/tree/master/deeplearning4j-scaleout/hadoop-yarn">Hadoop</a>, utlizes GPU support for <a href="./gpu.html">scaling on AWS</a>, includes <a href="./canova.html">a general vectorization tool</a> for machine-learning libs, and most of all relies on <a href="http://nd4j.org/benchmarking">ND4J: A matrix library</a> much faster than Numpy and largely written in C++. We also built [RL4J: Reinforcement Learning for Java](https://github.com/deeplearning4j/rl4j) with Deep Q learning and A3C.</p>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="question-box">
                  <h4><span class="text-colored">Q.</span>How can I contribute?</h4>
                  <p><span><b>A. </b></span>Developers who would like to contribute to Deeplearning4j can get started by reading our <a href="./devguide">Developer's Guide</a>.</p>
              </div>

              <div class="question-box">
                  <h4><span class="text-colored">Q.</span>Is DL4J parallelized?</h4>
                  <p><span><b>A. </b></span>Deeplearning4j includes both a distributed, multi-threaded deep-learning framework and a normal single-threaded deep-learning framework. Training takes place in the cluster, which means it can process massive amounts of data quickly. Nets are trained in parallel via <a href="./iterativereduce.html">iterative reduce</a>, and they are equally compatible with <b>Java</b>, <a href="http://nd4j.org/scala.html"><b>Scala</b></a> and <a href="https://github.com/wildermuthn/d4lj-iris-example-clj/blob/master/src/dl4j_clj_example/core.clj"><b>Clojure</b></a> Deeplearning4j's role as a modular component in an open stack makes it the first deep-learning framework adapted for a <a href="http://microservices.io/patterns/microservices.html">micro-service architecture</a>.</p>
              </div>
          </div>
            
        </div>
      </div> <!-- end Col -->
    </div>
  </div>
</section>


<section class="section bg-white" id="details">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Deep Learning Tutorials</h3>
        <ul>
          <li><a href="./neuralnet-overview.html">Introduction to Neural Networks</li>
          <li><a href="./word2vec.html">Word2vec: Extracting Relations From Raw Text</li>
          <li><a href="./eigenvector.html">Eigenvectors, PCA and Entropy</li>
          <li><a href="./linear-regression.html">Regression, Predictive Analytics and Neural Nets</li>
          <li><a href="./restrictedboltzmannmachine.html">Restricted Boltzmann machines</a></li>
          <li><a href="./convolutionalnets.html">Convolutional Nets</a> (images)</li>
          <li><a href="../lstm.html">Long Short-Term Memory Networks and RNNs</a></li>
          <li><a href="./tutorials.html">DL4J Tutorials Index</a></li>
          
        </ul>
      </div>

      <div class="col-sm-4">
        <h3>DL4J's Neural Networks</h3>
        <ul>
          <li><a href="./restrictedboltzmannmachine.html">Restricted Boltzmann machines</a></li>
          <li><a href="./convolutionalnets.html">Convolutional Nets</a> (images)</li>
          <li><a href="./usingrnns.html">Recurrent Nets</a>/<a href="../lstm.html">LSTMs</a> (time series and sensor data)</li>
          <li><a href="https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-core/src/main/java/org/deeplearning4j/nn/layers/feedforward/autoencoder/recursive/RecursiveAutoEncoder.java">Recursive autoencoders</a></li>
          <li><a href="./deepbeliefnetwork.html">Deep-belief networks</a></li>
          <li><a href="http://deeplearning4j.org/deepautoencoder.html">Deep Autoencoders</a> (Question-Answer/data compression)</li>
          <li><a href="./stackeddenoisingautoencoder.html">Stacked Denoising Autoencoders</a></li>
          <li>For more, see <a href="./neuralnetworktable.html">How to Choose a Neural Net</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h3>Recent Research</h3>
        <ul>
          <li>University of Massachusets "<a href="http://arxiv.org/abs/1602.05931">RandomOut: Using a convolutional gradient norm to win The Filter Lottery</a>"</li>
          <li>Stanford NLP: "<a href="http://nlp.stanford.edu/courses/cs224n/2015/reports/24.pdf">Large-Scale Language Classification</a>"</li>
          <li><a href="https://docs.google.com/presentation/d/19QDuPmxB9RzQWKXp_t3yqxCvMBSMaOQk19KNZqUUgYQ/edit?pref=2&amp;pli=1#slide=id.g11a4ba0c5c_0_6">Like2Vec: A New Technique for Recommender Algorithms</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- any extra content can go here -->
{{ content }}


<section class="section" id="howtouse">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-sm-6">
      <div class="features-alt">
          <div class="feature-alt-icon">
              <i class="pe-7s-scissors"></i>
          </div>
          <h4 class="text-muted">An overview.</h4>
          <h3>How to use Deeplearning4j</h3>

          <p class="text-muted">Deep neural nets are capable of <a href="./accuracy.html">record-breaking accuracy</a>. For a quick neural net introduction, please visit our <a href="./neuralnet-overview.html">overview</a> page. In a nutshell, Deeplearning4j lets you compose deep neural nets from various shallow nets, each of which form a so-called `layer`. This flexibility lets you combine restricted Boltzmann machines, other autoencoders, convolutional nets or recurrent nets as needed in a distributed, production-grade framework that works with Spark and Hadoop on top of distributed CPUs or <a href="./gpu.html">GPUs</a>.</p>

          <p class="text-muted">There are a lot of parameters to adjust when you're training a deep-learning network. We've done our best to explain them, so that Deeplearning4j can serve as a DIY tool for Java, <a href="https://github.com/deeplearning4j/nd4s">Scala</a> and <a href="https://github.com/whilo/clj-nd4j">Clojure</a> programmers.</p>
        </div>
      </div>

      <div class="col-sm-6">
          <img src="./img/schematic_overview.png" class="img-responsive thumbnail" alt="img">
      </div>
    </div>
  </div>
</section>
