---
layout: all
---
<section class="section-lg home-alt bg-img" id="home">
    <div class="bg-overlay-gradient bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="home-wrapper text-center">
                    <p class="text-muted">Deep Learning for Java</p>
                    <h1>Open-source, distributed deep-learning library for the JVM</h1>
                    <a href="/quickstart" class="btn btn-custom">Quickstart</a>
                    <br>
                    <!-- Github star btn -->
                    <a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j" data-icon="octicon-star" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/stargazers" data-count-api="/repos/deeplearning4j/deeplearning4j#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star deeplearning4j/deeplearning4j on GitHub">Star</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-white" id="what">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="title">What is Deeplearning4j?</h2>
            <p>Deeplearning4j is the first commercial-grade, open-source, distributed deep-learning library written for Java and Scala. Integrated with Hadoop and <a href="../spark.html">Spark</a>, DL4J is designed to be used in business environments, rather than as a research tool. <a href="http://skymind.io">Skymind</a> is its commercial support arm.</p>
        </div>
    </div>
  </div>
</section>

<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-science"></i>
          </div>
          <h3>Distributed</h3>
          <p class="text-muted">DL4J takes advantage of the latest distributed computing frameworks including Hadoop and Apache Spark to improve training.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-light"></i>
          </div>
          <h3>Open-source</h3>
          <p class="text-muted">Completely open-source and is maintained by the community and its commercial arm, <a href="http://skymind.io">Skymind</a>.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="features-box text-center">
          <div class="feature-icon">
            <i class="pe-7s-display1"></i>
          </div>
          <h3>Java/Scala/JVM</h3>
          <p class="text-muted">Deeplearning4j is written in Java and is compatible with any JVM language. Import into Clojure, Scala, &amp; Kotlin projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-white" id="details">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">



      {{ content }}



      </div>
    </div>
  </div>
</section>
