<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include ../head.html %}
  
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>DL4J</h1>
        <h2>Deep Learning for Java</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>首页</a></li>
          <li><a href='/gettingstarted.html'>Deeplearning4j入门</a></li>
          <li><a href='mailto:chris@skymind.io'>联系我们</a></li>
          <li><a href='http://nd4j.org/getstarted.html'>ND4J Java的科学计算</a></li>
          <li><a href='/quickstart.html'>快速入门</a></li>
          <li><a href='/about.html'>简介</a></li>
        </ul>
      </div>
    </div>
    <div class="container content">
</body>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}。DL4J是在Apache 2.0许可证下发布。
<a href="https://github.com/SkymindIO/deeplearning4j">Github上库</a> // <a href="https://twitter.com/dl4j1">Twitter微博</a> // <a href="https://groups.google.com/forum/#!forum/deeplearning4j">谷歌讨论组</a>
        </p>
      </div>
    </div>       
</html>
