@(i18n: org.deeplearning4j.ui.api.I18N)
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/train.css"/><meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Document</title>
    </head>
    <body>

        <div class="outerDiv">

            <div class="navDiv">
                <div class="navTopSpacer">(TODO: Session Selection Here)</div>
                <div class="navElement">
                    <div class="navHorizontalSpacer"></div>
                    <img src="assets/img/train/nav_icon_home_28.png">
                    <div class="navHorizontalSpacer"></div>
                    @i18n.getMessage("train.nav.overview")
                </div>
                <div class="navElementSpacer"></div>
                <div class="navElement">
                    <div class="navHorizontalSpacer"></div>
                    <img src="assets/img/train/nav_icon_model_28.png">
                    <div class="navHorizontalSpacer"></div>
                    @i18n.getMessage("train.nav.model")
                </div>
                <div class="navElementSpacer"></div>
                <div class="navElement">
                    <div class="navHorizontalSpacer"></div>
                    <img src="assets/img/train/nav_icon_system_28.png">
                    <div class="navHorizontalSpacer"></div>
                    @i18n.getMessage("train.nav.hwsw")
                </div>
                <div class="navElementSpacer"></div>
                <div class="navElement">
                    <div class="navHorizontalSpacer"></div>
                    <img src="assets/img/train/nav_icon_help_28.png">
                    <div class="navHorizontalSpacer"></div>
                    @i18n.getMessage("train.nav.help")
                </div>
                <div class="navBottom">
                    (TODO Language Selection Here)
                    <div class="navElementSpacer"></div>
                    <a href="http://www.deeplearning4j.org/" class="textlink">deeplearning4j.org</a>
                    <div class="navElementSpacer"></div>
                </div>
            </div>
            <div class="contentDiv">
                Content Div<br>
                Language: @i18n.getDefaultLanguage
            </div>
        </div>
    </body>
</html>