@(i18n:org.deeplearning4j.ui.api.I18N)
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/training.css"/><meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Document</title>
    </head>
    <body>

        <div class="outerDiv">

            <div class="navDiv">
                <div class="navElement">First Nav Element</div>
                <div class="navElement">Second Nav Element</div>

            </div>
            <div class="contentDiv">
                Content Div<br>
                Language: @i18n.getDefaultLanguage
            </div>
        </div>
    </body>
</html>