pom.xml.releaseBackup 
target/
*.ser
application.home_IS_UNDEFINEiD
README.md~
*.jpg
*.png
*.bin
*.releaseBackup
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
model-saver-*
*.log
.project
.classpath
.idea
*-git.properties

