on:
  workflow_dispatch:
jobs:
  cache:
    runs-on:  windows-2019
    steps:
      - uses: actions/checkout@v2
      - uses: konduitai/cuda-install/.github/actions/install-cuda-windows@master
        env:
          cuda: 11.6.0
      - uses: konduitai/cuda-install/.github/actions/install-cuda-windows@master
        env:
          cuda: 11.4.1
      - name: Cache cuda install windows cuda 11.4
        uses: actions/cache@v2
        id: cache-cuda-114
        with:
          path: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.4
          key: windows-2019-cuda-11.4
          restore-keys: windows-2019-cuda-11.4
      - name: Cache cuda install windows cuda 11.6
        uses: actions/cache@v2
        id: cache-cuda-116
        with:
          path: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6
          key: windows-2019-cuda-11.6
          restore-keys: windows-2019-cuda-11.6





